language: ruby
rvm:
  - "2.1.2"
env:
  - DB=postgresql
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate test
before_script:
  - psql -c 'create user moroka with  password "dmm_trued"'
  - psql -c 'create database chat_test' -U moroka
  - cp config/.travis.database.yml config/database.yml
addons:
  postgresql: "9.1"
  code_climate:
    repo_token: cc1a355c83e6a69ce263c41c4a7f0c405bb05dd1461efb2bfcfe155815f43d32