language: ruby
rvm:
  - "2.1.2"
before_script:
  - RAILS_ENV=test bundle exec rake db:create db:migrate --trace
  - psql -c "CREATE USER moroka WITH PASSWORD 'dmm_trued';" -U postgres
  - bundle exec rake db:test:prepare
  - bundle exec rake
script:
  - COVERALLS_REPO_TOKEN=fvaF1YdUI6MaFapP9bakPNRBWUwSpIAR5 bundle exec rake spec
addons:
  postgresql: "9.1"
  code_climate:
    repo_token: cc1a355c83e6a69ce263c41c4a7f0c405bb05dd1461efb2bfcfe155815f43d32
