.col-md-8
  %input.form-control#search{:placeholder=>"Search..."}
  .panel.panel-primary
    .panel-body
      %ul.chat
        #messages-wrapper
          :javascript
            emojify.run()
          - if @messages
            -@messages.each do |message|
              -if message.user_id==current_user.id
                %li.from.clearfix
                  %span.chat-img.pull-left
                    =image_tag avatar_url(message.user,50),:class => "avatar"
                  .chat-body.clearfix
                    .header
                      %strong.primary-font
                        =link_to message.user.login, user_path(message.user.id)
                      %small.pull-right.text-muted
                        %span.glyphicon.glyphicon-time
                        =message.created_at.strftime("%a %T")
                    %p= message.body
              -else
                %li.to.clearfix
                  %span.chat-img.pull-left
                    =image_tag avatar_url(message.user,50),:class => "avatar"
                  .chat-body.clearfix
                    .header
                      %strong.primary-font
                        =link_to message.user.login, user_path(message.user.id)
                      %small.pull-right.text-muted
                        %span.glyphicon.glyphicon-time
                        =message.created_at.strftime("%a %T")
                    %p=message.body
    .panel-footer
      .btn-group.dropup
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %span.caret
        %ul#dropdown-list.dropdown-menu{role: "menu"}
          = render 'layouts/index'
      #request-user
      %textarea.form-control#message
      %button.btn.btn-success#send_message
        Send message
%audio#new-message
  %source{:src=>"../sounds/button_tiny.ogg", :type=>"audio/ogg"}
  %source{:src=>"../sounds/button_tiny.mp3", :type=>"audio/mp3"}