%li.active
  %a{:href=>"#"}
    Moroka
%li
  %a{:href=>"#"}
    Galas
%li
  %a{:href=>"#"}
    Moroka
%li
  %a{:href=>"#"}
    Galas
    %span.badge.pull-right 42
%li
  %a{:href=>"#"}
    Moroka
%li
  %a{:href=>"#"}
    Galas
%li
  %a{:href=>"#"}
    Moroka
%li
  %a{:href=>"#"}
    Galas
%li
  %a{:href=>"#"}
    Moroka
%li
  %a{:href=>"#"}
    %span.glyphicon.glyphicon-plus
    Create room