%li.active
  %a{:href=>"message/1"}
    Moroka
%li
  %a{:href=>"message/1"}
    Galas
%li
  %a{:href=>"message/1"}
    Moroka
%li
  %a{:href=>"message/1"}
    Galas
    %span.badge.pull-right 42
%li
  %a{:href=>"message/1"}
    Moroka
%li
  %a{:href=>"message/1"}
    Galas
%li
  %a{:href=>"message/1"}
    Moroka
%li
  %a{:href=>"message/1"}
    Galas
%li
  %a{:href=>"message/1"}
    Moroka
%li
  %a{:href=>"message/1"}
    %span.glyphicon.glyphicon-plus
    Create room