.panel.panel-primary
  .panel-body
    %ul.chat
      #messages-wrapper
        -@messages.each do |message|
          -if message.user_id==current_user.id
            %li.from.clearfix
              %span.chat-img.pull-left

                %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/55C1E7/fff&text=ME"}/
              .chat-body.clearfix
                .header
                  %strong.primary-font=message.user.login
                  %small.pull-right.text-muted
                    %span.glyphicon.glyphicon-time
                    =message.created_at.strftime("%a %T")
                %p=message.body
          -else
            %li.to.clearfix
              %span.chat-img.pull-left
                %img.img-circle{:alt => "User Avatar", :src => "http://placehold.it/50/FA6F57/fff&text=U"}/
              .chat-body.clearfix
                .header
                  %strong.primary-font=message.user.login
                  %small.pull-right.text-muted
                    %span.glyphicon.glyphicon-time
                    =message.created_at.strftime("%a %T")
                %p=message.body
  .panel-footer
    %textarea.form-control#message
    %button.btn.btn-success#send_message
      Send message
