.container
  #messages
    -@messages.each do |message|
      =User.find(message.user_id).firstname+": "+message.body
      %br
  %textarea.form-control#message
  %br
  .row
    %button.btn.btn-success.pull-right#send_message
      Send message