%input.form-control#search{:placeholder=>"Search...",:type=>"search"}
.container-fluid
  .span6.content
    %br
    #messages-wrapper
      -@messages.each do |message|
        -if message.user_id==current_user.id
          %pre.message.to
            .message_login
              =message.user.login+":"
            .message_body
              =message.body
            %span.pull-right.time
              =message.created_at.strftime("%a %T")
        -else
          %pre.message.from
            .message_login
              =message.user.login+":"
            .message_body
              =message.body
            %span.pull-right.time
              =message.created_at.strftime("%a %T")
    %br
    .navbar-fixed-bottom.row-fluid
      %textarea.form-control#message
      %button.btn.btn-success#send_message
        Send message