.authform
  = form_for @room do |f|
    .form-group
      = "Name:"
      =f.text_field :name, class: 'form-control'
    .form-group
      = "Topic: "
      =f.text_field :topic, class: 'form-control'
    .action
      = f.submit 'Create', :class => 'button right'