%h2.public OPEN ROOMS
- if !@room_list.nil?
  - @room_list.each do |room|
    %table.rooms_group
      %tr
        %td.name
          %a.clean
            =link_to "#{room.name}",room_path(:id=>room.id),:room_id => room.id
        %td.memb-count
          = count_members(room.id)
          ="members"
        %td.owner
          ="Owned by: "
          =link_to "#{room.user.login}", user_path(room.user.id)
        %td.set-arr
          %a{href: "#"}
            %span.glyphicon.glyphicon-cog
            %span.glyphicon.glyphicon-chevron-down