%h2.public OPEN ROOMS
- if !@room_list.nil?
  - @room_list.each do |room|
    %table.rooms_group
      %tr
        %td.name
          %a.clean
            =link_to "#{room.name}",room_path(:id=>room.id),:room_id => room.id
        %td.memb-count 0 members - Active 15 minutes ago
        %td.owner Owned by: User2
        %td.set-arr
          %a{href: "#"}
            %span.glyphicon.glyphicon-cog
            %span.glyphicon.glyphicon-chevron-down