.col-md-2 {
  z-index: 0;
}

.form-control#search{
  position: fixed;
  width: 65%;
  margin:8px 0px 0px 17%;
  background-color:#313131;
  border-color:#606060;
  color:#878787;
}
#userStatus i{
  cursor: hand;
}
.typing{
  padding-left:100px;
  color: #777777;
}
.pag{
  height: 20px;
  margin-top:-15px;
  width: 100%;
  position:relative;
  background-color: rgba(10,10,10,0.07);
  border-radius: 0px 0px 30px 30px ;
}
.pag:hover {
  background-color: rgba(10,10,10,0.25);

}
.pag .glyphicon{
  margin:0 50% 0 50%;
  opacity: 0.4;
}
iframe{
  z-index:0;
}
.bootstrap-growl.alert.alert-success {
  background-color: rgba(10, 10, 10, 0.7);
  color: white;
}


.chat {
  margin: 0 10px;
  padding-bottom: 70px;

  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    &.from .chat-body {
      margin-left: 60px;
    }
    &.to {
      .chat-body {
        margin-left: 100px;
      }
      img {
        margin-left: 60px;
        margin-right: 10px;
      }
    }
    &.right .chat-body {
      margin-right: 60px;
    }
    .chat-body p {
      margin: 0;
      color: #777777;
      white-space: pre-line;
      white-space: -moz-pre-line;
      /* Mozilla, since 1999 */
      white-space: -pre-line;
      /* Opera 4-6 */
      white-space: -o-pre-line;
      /* Opera 7 */
      word-wrap: break-word;
      /* Internet Explorer 5.5+ */
    }
  }
}

.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}