.navbar-fixed-bottom {
    top: 51px;
}
.dropdown.user-dropdown.open{
    z-index: 2;
}
.row-fluid{
    height: 100%;
    overflow-y: hidden;
}
.col-md-2{
    z-index: 0;
}

.avatar{
    border-radius: 50%;
    border-radius: 50px;
}

.bootstrap-growl.alert.alert-success{
    background-color: rgba(10,10,10,0.7);
    color:white;
}

.container-fluid.navbar-fixed-top{
    top:50px;
}
.panel.panel-primary{
    border: none;
}
.panel.panel-primary .panel-body{

}
.panel.panel-primary .panel-footer {
    padding: 0px;
}
.panel.panel-primary .panel-footer button{
    width: 100%;
}
.panel.panel-primary .panel-footer textarea{
    bottom: 0;
    width: 100%;
    resize: none;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.from .chat-body
{
    margin-left: 60px;
}
.chat li.to .chat-body
{
    margin-left: 100px;
}
.chat li.to img
{
    margin-left: 60px;
    margin-right: 10px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}

.chat li .chat-body p
{
    margin: 0;
    color: #777777;
    white-space: pre-line;
    white-space: -moz-pre-line;  /* Mozilla, since 1999 */
    white-space: -pre-line;      /* Opera 4-6 */
    white-space: -o-pre-line;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;

}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
    background-color: #eee;

}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

