//my
// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
//  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}
.reg-form{
  background-size: cover;
  background-position: 50% 50%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .column, .form, .form-centered, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.form-control
{
  resize: none;
  height:35px;
}
F
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
#main {
  @extend .container;
  margin-top:50px;
  width: 100%;
  height: 100%;
}
section {
  @extend .row;
  margin-top: 20px;
}
#current_user
{
  display: inline;
}
// Styles for Devise views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 0px;
  max-width: 320px;
  margin: 0 auto;
  opacity: 0.85;

}
.authform a{
  color: white;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  margin:auto;
  padding-bottom: 60px;
  background-color: rgba(10,10,10,0.7);
  color: #fdfdfd;
  border-color: transparent;
}
.authform .right {
  float: right !important;
  color: white;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
.btn-group
{
  width: 100%;
}