// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  width: 50px;
  height: 50px;
  float: left;
}

.img-profle {
  float: left;
  border-radius: 50%;
  padding: 5px 25px;
}

#current_user > .dropdown {
  display: inline;
}

.user_name {
  font: 16px sans-serif;
}

#user_search {
  float: right;
}
.avatar_mini {
  float: left;
  height: 30px;
  margin: 3px;
  width: 30px;
  border-radius: 20%;
}
.avatar{
  border-radius: 20%;
}
#user_info {
  height: 50px;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
}

.friend_name {
  float: left;
  height: 50px;
  padding-top: 15px;
}

.friend_name a {
  text-decoration: none;
}

#find_more_friends{
  font-size: 20px;
}

span.title {
  font-size: 20px;
}
