.bla
  %p
  .emoji
    .sprite-1#:1:
    .sprite--1#:be:
    .sprite-alien#:alien:
    .sprite-angel#:angel:
    .sprite-anger#:anger:
    .sprite-angry#:angry:
    .sprite-anguished#:anguished:
    .sprite-astonished#:astonished:
    .sprite-baby#:baby:
    .sprite-blue-heart#:blue_heart:
    .sprite-blush#:blush:
    .sprite-boom#:boom:
    .sprite-bow#:bow:
    .sprite-bowtie#:bowtie:
    .sprite-boy#:boy:
    .sprite-bride-with-veil#:bride_with_veil:
    .sprite-broken-heart#:broken_heart:
    .sprite-bust-in-silhouette#:bust_in_silhouette:
    .sprite-busts-in-silhouette#:busts_in_silhouette:
    .sprite-clap#:clap:
    .sprite-cold-sweat#:cold_sweat:
    .sprite-collision#:collision:
    .sprite-confounded#:confounded:
    .sprite-confused#:confused:
    .sprite-construction-worker#:construction_worker:
    .sprite-cop#:cop:
    .sprite-couple#:couple:
    .sprite-couple-with-heart#:couple_with_heart:
    .sprite-couplekiss#:couplekiss:
    .sprite-cry#:cry:
    .sprite-crying-cat-face#:crying_cat_face:
    .sprite-cupid#:cupid:
    .sprite-dancer#:dancer:
    .sprite-dancers#:dancers:
    .sprite-dash#:dash:
    .sprite-disappointed#:disappointed:
    .sprite-dizzy#:dizzy:
    .sprite-dizzy-face#:dizzy_face:
    .sprite-droplet#:droplet:
    .sprite-ear#:ear:
    .sprite-exclamation#:exclamation:
    .sprite-expressionless#:expressionless:
    .sprite-eyes#:eyes:
    .sprite-facepunch#:facepunch:
    .sprite-family#:family:
    .sprite-fearful#:fearful:
    .sprite-feelsgood#:feelsgood:
    .sprite-feet#:feet:
    .sprite-finnadie#:finnadie:
    .sprite-fire#:fire:
    .sprite-fist#:fist:
    .sprite-flushed#:flushed:
    .sprite-frowning#:frowning:
    .sprite-fu#:fu:
    .sprite-girl#:girl:
    .sprite-goberserk#:goberserk:
    .sprite-godmode#:godmode:
    .sprite-green-heart#:green_heart:
    .sprite-grimacing#:grimacing:
    .sprite-grin#:grin:
    .sprite-grinning#:grinning:
    .sprite-guardsman#:guardsman:
    .sprite-haircut#:haircut:
    .sprite-hand#:hand:
    .sprite-hankey#:hankey:
    .sprite-hear-no-evil#:hear_no_evil:
    .sprite-heart#:heart:
    .sprite-heart-eyes#:heart_eyes:
    .sprite-heart-eyes-cat#:heart_eyes_cat:
    .sprite-heartbeat#:heartbeat:
    .sprite-heartpulse#:heartpulse:
    .sprite-hurtrealbad#:hurtrealbad:
    .sprite-hushed#:hushed:
    .sprite-imp#:imp:
    .sprite-information-desk-person#:information_desk_person:
    .sprite-innocent#:innocent:
    .sprite-japanese-goblin#:japanese_goblin:
    .sprite-japanese-ogre#:japanese_ogre:
    .sprite-joy#:joy:
    .sprite-joy-cat#:joy_cat:
    .sprite-kiss#:kiss:
    .sprite-kissing#:kissing:
    .sprite-kissing-cat#:kissing_cat:
    .sprite-kissing-closed-eyes#:kissing_closed_eyes:
    .sprite-kissing-face#:kissing_face:
    .sprite-kissing-heart#:kissing_heart:
    .sprite-kissing-smiling-eyes#:kissing_smiling_eyes:
    .sprite-laughing#:laughing:
    .sprite-lips#:lips:
    .sprite-love-letter#:love_letter:
    .sprite-man#:man:
    .sprite-man-with-gua-pi-mao#:man_with_gua_pi_mao:
    .sprite-man-with-turban#:man_with_turban:
    .sprite-mask#:mask:
    .sprite-massage#:massage:
    .sprite-metal#:metal:
    .sprite-muscle#:muscle:
    .sprite-musical-note#:musical_note:
    .sprite-nail-care#:nail_care:
    .sprite-neckbeard#:neckbeard:
    .sprite-neutral-face#:neutral_face:
    .sprite-no-good#:no_good:
    .sprite-no-mouth#:no_mouth:
    .sprite-nose#:nose:
    .sprite-notes#:notes:
    .sprite-ok-hand#:ok_hand:
    .sprite-ok-woman#:ok_woman:
    .sprite-older-man#:older_man:
    .sprite-older-woman#:older_woman:
    .sprite-open-hands#:open_hands:
    .sprite-open-mouth#:open_mouth:
    .sprite-pensive#:pensive:
    .sprite-persevere#:persevere:
    .sprite-person-frowning#:person_frowning:
    .sprite-person-with-blond-hair#:person_with_blond_hair:
    .sprite-person-with-pouting-face#:person_with_pouting_face:
    .sprite-point-down#:point_down:
    .sprite-point-left#:point_left:
    .sprite-point-right#:point_right:
    .sprite-point-up#:point_up:
    .sprite-point-up-2#:point_up_2:
    .sprite-pouting-cat#:pouting_cat:
    .sprite-pray#:pray:
    .sprite-princess#:princess:
    .sprite-purple-heart#:purple_heart:
    .sprite-question#:question:
    .sprite-rage#:rage:
    .sprite-rage2#:rage2:
    .sprite-rage3#:rage3:
    .sprite-rage4#:rage4:
    .sprite-raised-hand#:raised_hand:
    .sprite-raised-hands#:raised_hands:
    .sprite-relaxed#:relaxed:
    .sprite-relieved#:relieved:
    .sprite-revolving-hearts#:revolving_hearts:
    .sprite-runner#:runner:
    .sprite-running#:running:
    .sprite-satisfied#:satisfied:
    .sprite-scream#:scream:
    .sprite-scream-cat#:scream_cat:
    .sprite-see-no-evil#:see_no_evil:
    .sprite-skull#:skull:
    .sprite-sleeping#:sleeping:
    .sprite-sleepy#:sleepy:
    .sprite-smile-cat#:smile_cat:
    .sprite-smiley#:smiley:
    .sprite-smiley-cat#:smiley_cat:
    .sprite-smiling-imp#:smiling_imp:
    .sprite-smirk#:smirk:
    .sprite-smirk-cat#:smirk_cat:
    .sprite-sob#:sob:
    .sprite-sparkles#:sparkles:
    .sprite-sparkling-heart#:sparkling_heart:
    .sprite-speak-no-evil#:speak_no_evil:
    .sprite-speech-balloon#:speech_balloon:
    .sprite-star#:star:
    .sprite-star2#:star2:
    .sprite-stuck-out-tongue#:stuck_out_tongue:
    .sprite-stuck-out-tongue-closed-eyes#:stuck_out_tongue_closed_eyes:
    .sprite-stuck-out-tongue-winking-eye#:stuck_out_tongue_winking_eye:
    .sprite-sunglasses#:sunglasses:
    .sprite-suspect#:suspect:
    .sprite-sweat#:sweat:
    .sprite-sweat-drops#:sweat_drops:
    .sprite-sweat-smile#:sweat_smile:
    .sprite-thought-balloon#:thought_balloon:
    .sprite-tired-face#:tired_face:
    .sprite-tongue#:tongue:
    .sprite-triumph#:triumph:
    .sprite-trollface#:trollface:
    .sprite-two-hearts#:two_hearts:
    .sprite-two-men-holding-hands#:two_men_holding_hands:
    .sprite-two-women-holding-hands#:two_women_holding_hands:
    .sprite-unamused#:unamused:
    .sprite-v#:v:
    .sprite-walking#:walking:
    .sprite-wave#:wave:
    .sprite-weary#:weary:
    .sprite-wink#:wink:
    .sprite-wink2#:wink2:
    .sprite-woman#:woman:
    .sprite-worried#:worried:
    .sprite-yellow-heart#:yellow_heart:
    .sprite-yum#:yum:
    .sprite-zzz#:zzz:
