$('body').prepend("<div id='limit' class='modal fade in' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: block;'>"+
        "<div class='modal-dialog'>"+
        "<div class='modal-content'>"+
        "<div class='modal-header'>"+
        "<button class='close' type='button' data-dismiss='modal' aria-hidden='true'></button>"+
        "<h4 id='myModalLabel' class='modal-title'> Error List</h4>"+
        "</div>"+
        "<div class='modal-body' style='text-align: center;margin-top: 16px; font-size: 18px;'><h4 id='myModalLabel' class='modal-title'>"+ "<%=error.errors.full_messages.join('. ') %>" +"</h4>"+
        "<div class='modal-footer'>"+
        "<div class='action'>"+
        "<button id='modal-submit' class='btn btn-primary lobby-btn' type='submit'>Close</button>"+
//        "<button class='btn btn-primary lobby-btn' type='button' data-dismiss='modal'>Close</button>"+
        "</div>"+
        "</div>"+
        "</div>"+
        "</div>"+
        "</div></div>");
var limitmodal;

limitmodal = $("#limit");
$("#modal-submit").click(function() {
    limitmodal.hide();
});
